*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --font-text: 'DM Sans', sans-serif;
    --font-logo: 'Pathway Gothic One', sans-serif;
    --red: #BF0606;
    --yellow: #FFCF00;
    --orange: #FF6100;
    --light-orange: #ffe8db;
    --white: #FFFFFF;
    --light-gray: #DEE1DF;
    --gray: #C1B9B9;
    --dark-gray: #1f2622;
}

a{
    text-decoration: none;
    color: inherit;
}

button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    background-color: var(--orange);
    color: var(--white);
    font-weight: 700;
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 0.32em;
    border: none;
}

button:hover{
    cursor: pointer;
}

body{
    font-family: var(--font-text);
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    background-color: var(--white);
}


/* HEADER */


header{
    height: 6.5625rem;
    border-bottom: 0.1px solid var(--gray);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    text-transform: uppercase;
    color: var(--dark-gray);
    position: sticky;
    top: 0%;
    background-color: var(--white);
    z-index: 1;
}

.logo-icon{
    display: flex;
    justify-content: space-between;
    width: 90vw;
}

.logo{
    display: flex;
    align-items: center;
    gap: 8px;
    align-self: center;
}

.logo img{
    width: 3.725rem;
}

.logo h2{
    font-family: var(--font-logo);
    font-size: 3rem;
    letter-spacing: 0.24rem;
}

.icon{
    display: flex;
    gap: 1rem;
    place-self: right;
    width: 6.25rem;
}

.empty{
    width: 6.25rem;
}

.icon img{
    width: 1.6em;
}

nav{
    display: flex;
    gap: 24px;
}

nav p{
    font-size: 0.75rem;
    letter-spacing: 0.32rem;
    font-weight: 400;
}

nav p:after{
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: var(--dark-gray);
    transform: translateY(9.6px);
    opacity: 0;
    z-index: 1;
}

#vermelho{
    color: var(--red);
}

header p:hover, img:hover{
    cursor: pointer;
} 

header p:hover:after{
    opacity: 1;
}


/* MAIN */


main{
    margin-top: 36px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
}


/* PRODUCT AREA */


.product{
    display: grid;
    align-items: start;
    width: 90%;
    grid-template-columns: 1fr 1fr;
    gap: 48px;
}

.product-img{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    place-self: start end;
}

.product-img:hover{
    cursor: pointer;
}

.product-img-slides{
    height: 500px;
    width: 500px;
}

.product-img-slides img{
    width: 100%;
}

.preview{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: auto;
    width: auto;
    gap: 12px;
}

.preview img{
    width: 75px;
}

.info-product{
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 75%;
}

.name-star{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.name-star h2{
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.32em;
    text-transform: uppercase;
}

.stars{
    display: flex;
    gap: 12px;
}

.stars img{
    width: 25px;
}

.price{
    display: flex;
    gap: 12px;
}

#depois{
    color: var(--red);
}

#antes{
    text-decoration: line-through;
}

.add{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 1px solid var(--light-gray);
    width: 150px;
    height: 44px;
}

.add input{
    width: 50px;
    text-align: center;
    border: none;
}

.add button{
    height: 100%;
    background-color: transparent;
    color: black;
    border: none;
    font-size: 18px;
    font-weight: 400;
}

.car{
    width: 100%;
}

.product-description{
    font-size: 16px;
}

.product-details{
    display: flex;
    flex-direction: column;
    gap: 4px;
    justify-content: center;
    text-transform: uppercase;
    text-decoration: underline;
}


/* YOU MAY ALSO LIKE AREA */


.products{
    padding: 64px 0px;
    background-color: var(--light-orange);
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 64px;
    align-items: center;
    justify-content: center;
}

.products h2, .faq h2{
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 0.32em;
    font-weight: 400;
    text-transform: uppercase;
}

.products__items{
    display: flex;
    gap: 90px;
}

.products__product{
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}

.products__product img{
    height: 25rem;
    width: 17rem;
}

.item{
    display: flex;
    flex-direction: column;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.32em;
    gap: 8px;
}

.car__item{
    width: 80%;
}


/* FAQ AREA */


.faq{
    display: grid;
    grid-template-rows: 10vh 1fr;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 0 0 64px 0;
}

.faq__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin-bottom: 4rem;
}

.card{
    max-width: 700px;
    border: 1px solid var(--light-gray);
    display: flex;
    flex-direction: column;
    width: 50vw;
}

.card-header a {
    padding: 15px 20px;
    display: block;
    font-weight: 600;
    color: #000;
    position: relative
}

.card-header a:hover {
    background-color: var(--orange);
    color: var(--white);
    border-radius: 2px;
    transition-duration: 0.2s;
}

.card-body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s ease-in-out;
}

.card-body p, .card-body ol{
    color: var(--gray);
    line-height: 26px;
    padding: 0px 20px 15px 20px;
}

.card-header a:after {
    content: '+';
    font-size: 25px;
    font-weight: 400;
    position: absolute;
    right: 15px;
    top: 8px;
    color: var(--orange)
}

.card.active a:after {
    content: '-';
    color: #ff4d1c;
}

.card-header.active a:hover:after,
.card-header a:hover:after {
    color: var(--white)
} 

.card-body ol{
    padding-left: 32px;
    padding-top: 16px;
}

.card.active .card-body{
    max-height: 300px;
} 

/* FOOTER AREA */


footer{
    display: grid;
    grid-template-rows: 20vh 1fr 2vh; 
    width: 100%;
}

.faixa{
    background-color: var(--orange);
    background-image: url(./img/colmeia.svg);
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.no_bg{
    background-image: none;
}

img[alt~=branco]{
    position: absolute;
    z-index: 1;
    width: 8rem;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
    margin: 44px 44px 24px 44px;
}

.info p:hover{
    text-decoration: underline;
    cursor: pointer;
}

.container__principal{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2.25rem;
}

.social{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.social h3{
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.32em;
    text-transform: uppercase;
}

.social form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

form input{
    width: 300px;
    height: 44px;
    font-family: var(--font-text);
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.15rem;
    background: var(--white);
    border: 1px solid var(--light-gray);
    padding-left: 16px;
}

form button{
    width: 240px;
    font-size: 16px;
}

.social a{
    width: 20px;
}

img[alt~=Instagram]{
    width: 100%;
}

.options{
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.options h3{
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.32em;
    text-transform: uppercase;
}

.options__info{
    display: flex;
    flex-direction: column;
    gap: 6px;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.32em;
    text-transform: capitalize;
}

.options__info p{
    width: fit-content;
}

.container__secundario{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.32em;
    text-transform: uppercase;
}

.container__secundario > p{
    font-family: var(--font-logo);
    font-size: 24px;
}

.container__secundario > p:hover{
    font-weight: 400;
    text-decoration: none;
    cursor: default;
}

.termos{
    display: flex;
    gap: 24px;
    width: auto;
}

/* Responsividade */

@media (max-width: 992px) {

    header{
        height: 12vh;
        z-index: 2;
    }

    .logo-icon{
        justify-content: center;
    }

    nav,.icon, .empty{
        display: none;
    }

    .main{
        gap: 24px;
    }

    .product{
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 32px;
    }
    
    .product-img{
        gap: 12px;
        place-self: center;
    }
        
    .product-img-slides{
        width: 100%;
        height: 100%;
    }
    
    .preview{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: auto;
    }
    
    .preview img{
        width: 64px;
    }
    
    .info-product{
        align-items: center;
        gap: 28px;
        width: 100%;
    }
    
    .name-star{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;
    }
    
    .name-star h2{
        font-size: 16px;
        text-align: center;
    }
    
    .car{
        width: 100%;
    }
    
    .product-details{
        place-self: start;
        text-decoration: none;
        text-transform: none;
    }

    .faq{
        gap: 1rem;
        margin: 0px;
        padding-bottom: 24px;
        justify-items: center;
    }
    
    .faq__container{
        margin-bottom: 4rem;
    }
    
    .faq h2{
        font-size: 15px;
    }

    .card{
        width: 90%;
    }
    
    .card-header a {
        font-size: 0.9rem;
    }

    footer{
        overflow: hidden;
        grid-template-rows: 30vh 1fr 2vh; 
    }

    .info{
        margin: 32px;
        gap: 64px;
    }

    .container__principal{
        display: flex;
        flex-direction: column;
        gap: 2.25rem;
    }
    
    .social{
        align-items: center;
    }
    
    form button{
        width: 100%;
    }
    
    .options{
        align-items: center;
        gap: 10px;
    }
    
    .options h3{
        font-size: 12px;
    }
    
    .options__info{
        align-items: center;
    }
    
    .container__secundario{
        flex-direction: column;
        gap: 12px;
        align-items: center;
    }

    .container__secundario > p{
        font-size: 13px;
        font-family: var(--font-text);
    }
    
    .termos{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;
        width: auto;
        font-size: 13px;
        font-family: var(--font-text);
    }


    /* .products{
        gap: 12px;
        padding-inline-start: 12px;
        height: 88vh;
        overflow-x: auto;
        overflow-y: hidden;
    }
    
    .products h2, .faq h2{
        font-size: 15px;
    }
    
    .products__items{
        gap: 24px;
        place-self: start;
        margin-left: 7%;
    }
    
    .products__product{
        gap: 16px;
    }

    .products__product img{
        height: 16rem;
        width: 12rem;
    }
    
    .item{
        display: flex;
        flex-direction: column;
        font-weight: 600;
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        letter-spacing: 0.32em;
        gap: 8px;
    }
    
    .car__item{
        width: 80%;
    } */

    
    .products{
        display: none;
    }

}