*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --font-text: 'DM Sans', sans-serif;
    --font-logo: 'Pathway Gothic One', sans-serif;
    --red: #BF0606;
    --yellow: #FFCF00;
    --orange: #FF6100;
    --light-orange: #FFF8F4;
    --white: #FFFFFF;
    --light-gray: #DEE1DF;
    --gray: #C1B9B9;
    --dark-gray: #1f2622;
}

a{
    text-decoration: none;
    color: inherit;
}

button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    background-color: var(--orange);
    color: var(--white);
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.32em;
    border: none;
}

body{
    font-family: var(--font-text);
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    background-color: var(--white);
}

header{
    height: 105px;
    border-bottom: 0.1px solid var(--gray);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    text-transform: uppercase;
    color: var(--dark-gray);
    position: sticky;
    top: 0%;
    background-color: var(--white);
}

.logo-icon{
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.logo{
    display: flex;
    align-items: center;
    gap: 8px;
    align-self: center;
}

.logo img{
    width: 50px;
}

.logo h2{
    font-family: var(--font-logo);
    font-size: 3rem;
    letter-spacing: 0.24rem;
}

.icon{
    display: flex;
    gap: 15px;
    place-self: right;
    width: 100px;
}

.empty{
    width: 100px;
}

.icon img{
    width: 25px;
}

nav{
    display: flex;
    gap: 24px;
}

nav p{
    font-size: 0.75rem;
    letter-spacing: 0.32rem;
    font-weight: 400;
}

nav p:after{
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: var(--dark-gray);
    transform: translateY(10.3px);
    opacity: 0;
}

#vermelho{
    color: var(--red);
}

header p:hover, img:hover{
    cursor: pointer;
} 

header p:hover:after{
    opacity: 1;
}

main{
    margin-top: 36px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
}

.product{
    display: grid;
    align-items: start;
    width: 90%;
    grid-template-columns: 1fr 1fr;
    gap: 48px;
}

.product-img{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    width: fit-content;
    place-self: start end;
}

.product-img:hover{
    cursor: pointer;
}

.product-img-slides{
    display: flex;
    height: 500px;
    width: 500px;
    overflow: hidden;
}

.preview{
    overflow: visible;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    height: auto;
    width: auto;
    gap: 12px;
}

.preview img{
    width: 75px;
}

.info-product{
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 60%;
}

.name-star{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.name-star h2{
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.32em;
    text-transform: uppercase;
}

.stars{
    display: flex;
    gap: 12px;
}

.stars img{
    width: 25px;
}

.price{
    display: flex;
    gap: 12px;
}

#depois{
    color: var(--red);
}

#antes{
    text-decoration: line-through;
}

.add{
    display: flex;
    justify-content: space-evenly;
    width: 142px;
    height: 44px;
    border: 1px solid var(--light-gray);
    align-items: center;
}

.add span{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.add span:first-child:hover, span:last-child:hover{
    cursor: pointer;
}

.car{
    width: 100%;
}

.car:hover{
    cursor: pointer;
}

.product-description{
    font-size: 16px;
}

.product-details{
    display: flex;
    flex-direction: column;
    gap: 4px;
    justify-content: center;
    text-transform: uppercase;
    text-decoration: underline;
}

.products{
    height: 100vh;
    background-color: var(--light-orange);
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 64px;
    align-items: center;
    justify-content: center;
}

.products h2{
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 0.32em;
    font-weight: 400;
}

.products__items{
    display: flex;
    gap: 90px;
}

.products__product{
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}

.products__product img{
    height: 34.375rem;
    width: 24.0625rem;
}

.item{
    display: flex;
    flex-direction: column;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.32em;
    gap: 8px;
}

.car__item{
    width: 70%;
}

footer{
    display: grid;
    grid-template-rows: 20vh 40vh 5vh; 
}

.info p:hover{
    text-decoration: underline;
    cursor: pointer;
    font-weight: 600;
}

.faixa{
    background-color: var(--orange);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.faixa img{
    width: 200%;
}

img[alt~=branco]{
    position: absolute;
    z-index: 1;
    width: 10.12rem;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
    margin: 44px 44px 24px 44px;
}

.container__principal{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 36px;
}

.social{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.social h3{
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.32em;
    text-transform: uppercase;
}

.social form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

form input{
    width: 350px;
    height: 44px;
    font-family: var(--font-text);
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.15rem;
    background: var(--white);
    border: 1px solid var(--light-gray);
    padding-left: 16px;
}

form button{
    width: 240px;
    font-size: 16px;
}

.social img{
    width: 20px;
}

.options{
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.options h3{
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.32em;
    text-transform: uppercase;
}

.options__info{
    display: flex;
    flex-direction: column;
    gap: 6px;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.32em;
}

.container__secundario{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.32em;
    text-transform: uppercase;
}

.container__secundario > p{
    font-family: var(--font-logo);
    font-size: 24px;
}

.container__secundario > p:hover{
    font-weight: 400;
    text-decoration: none;
    cursor: default;
}

.termos{
    display: flex;
    gap: 24px;
}
/* .product-img-slides.image img{
    position: absolute;
    width: 400px;
}

.product-img-slides.image img.show{
    z-index: 1000;
} */